In [2]:
import os
import pandas as pd

In [3]:
diretorio = os.getcwd()

In [4]:
os.chdir(diretorio)

In [5]:
os.chdir('' + diretorio + '/bases/tabelas')
arquivos_tabela = os.listdir('' + diretorio + '/bases/tabelas')
num_arquivos = len(arquivos_tabela)

tabelas = {}

for x in range(0, num_arquivos):

    tabelas['' + arquivos_tabela[x].replace('.csv', '') + ''] = pd.read_csv(arquivos_tabela[x], delimiter=';', encoding='latin-1')

In [6]:
tabelas.keys()

dict_keys(['NCM', 'NCM_CGCE', 'NCM_CUCI', 'NCM_FAT_AGREG', 'NCM_ISIC', 'NCM_PPE', 'NCM_PPI', 'NCM_SH', 'NCM_SIIT', 'NCM_UNIDADE', 'UF', 'UF_MUN', 'URF', 'VIA'])

In [7]:
len(arquivos_tabela) == len(tabelas)

True

In [8]:
locals().update(tabelas)

In [32]:
NCM[NCM['CO_SH6'].isin(['120100', '120110', '120190'])].head()

,CO_NCM,CO_UNID,CO_SH6,CO_PPE,CO_PPI,CO_FAT_AGREG,CO_CUCI_ITEM,CO_CGCE_N3,CO_SIIT,CO_ISIC4,CO_EXP_SUBSET,NO_NCM_POR,NO_NCM_ESP,NO_NCM_ING
1937,12010010,10,120100,1315,1315,1,2222,230,9000,01,1702.0,Soja para semeadura,Soja para siembra,Soybean for sowing
1938,12010090,21,120100,1315,1315,1,2222,210,9000,01,1702.0,"Outros grãos de soja, mesmo triturados","Otros granos de soja, incluso quebrantados","Other soybeans, even crushed"
1939,12011000,10,120110,1315,1315,1,2222,230,9000,01,1702.0,"Soja, mesmo triturada, para semeadura","Soja, incluso quebrantadas, para siembra","Soybeans, whether or not crushed, for sowing"
1940,12019000,21,120190,1315,1315,1,2222,210,9000,01,1702.0,"Soja, mesmo triturada, exceto para semeadura","Soja, incluso quebrantadas, excepto para siembra","Soybeans, whether or not crushed, except for s..."

In [33]:
NCM1 = NCM[['CO_NCM', 'NO_NCM_POR', 'NO_NCM_ESP', 'NO_NCM_ING']][NCM['CO_SH6'].isin(['120100', '120110', '120190'])]
NCM1
NCM2 = NCM[['CO_NCM', 'NO_NCM_POR', 'NO_NCM_ESP', 'NO_NCM_ING']][NCM['CO_SH6'].isin(['310100', '310290', '310390', '310490', '310510', '310520', '310551', '310559', '310560', '310590', '382490', '382499', '843240', '843242'])]
NCM2

,CO_NCM,NO_NCM_POR,NO_NCM_ESP,NO_NCM_ING
147,38249914,"Senduramicina sódica, da fabricação da sendura...","Senduramicina de sodio, de la fabricación de s...","Sodium senduramicina, from the manufacturing p..."
148,38249915,"Maduramicina amônica, em solução alcoólica, da...","Maduramicina de amonio, en solución alcohólica...","Maduramicin ammonium in alcoholic solution, fr..."
149,38249919,Outros produtos intermediários da fabricação d...,Otros productos intermedios de la fabricación ...,Other intermediate products for the manufactur...
150,38249921,Ácidos graxos dimerizados; preparações contend...,Ácidos grasos dimerizados; preparaciones que c...,Dimerized fatty acids; preparations containing...
151,38249922,Preparações contendo estearoilbenzoilmetano e ...,Las preparaciones que contienen estearoilbenzo...,Preparations containing stearoyl benzoyl metha...
152,38249923,Preparações contendo triglicerídios dos ácidos...,Las preparaciones que contienen triglicéridos ...,Preparations containing triglycerides of capry...
153,38249924,Ésteres de álcoois graxos de C12 a C20 do ácid...,Ésteres de alcoholes grasos de C12 a C20 del á...,Esters of fatty alcohols of C12 to C20 of meth...
154,38249925,Misturas de ésteres dimetílicos dos ácidos adí...,Las mezclas de ésteres dimetílicos de los ácid...,"Mixtures of dimethyl esters of adipic, succini..."
155,38249929,Outros derivados de ácidos graxos industriais;...,Otros derivados de ácidos grasos industriales;...,Other industrial fatty acid derivatives; Other...
156,38249931,Misturas e preparações para borracha ou plásti...,Las mezclas y preparados para caucho o plástic...,Mixtures and preparations of a kind used for t...
157,38249932,Misturas e preparações para borracha ou plásti...,Las mezclas y preparados para caucho o plástic...,Mixtures and preparations of a kind used for t...
158,38249933,Misturas e preparações para borracha ou plásti...,Las mezclas y preparados para caucho o plástic...,Mixtures and preparations of a kind used for t...
159,38249934,Outras misturas contendo polietilenoaminas,Otras mezclas que contengan polietilenaminas,Other mixtures containing polyethyleneamines
160,38249935,"Misturas de mono-, di- e triisopropanolaminas","Las mezclas de mono-, di- y triisopropanolamina","Mixtures of mono-, di- and triisopropanolamine"
161,38249936,Reticulantes para silicones,Reticulantes para siliconas,Crosslinkers for silicones
162,38249939,Outras misturas e preparações para borracha ou...,Otras mezclas y preparados para caucho o plást...,Other mixtures and preparations of a kind used...
163,38249941,"Preparações desincrustantes, anticorrosivas ou...","Descalcificación, anticorrosivo y preparacione...","Descaling, anticorrosive and antioxidant prepa..."
164,38249942,Mistura eutética de difenila e óxido de difenila,Mezcla eutéctica de difenilo y de óxido de dif...,Eutectic mixture of diphenyl and diphenyl oxide
165,38249943,"Misturas à base de trimetil-3,9-dietildecano","Misturas à base de trimetil-3,9-dietildecano","Mixtures based on trimethyl-3,9-diethyldecane"
166,38249949,"Outras misturas e preparações desincrustantes,...",Otras mezclas y preparaciones de descalcificac...,"Other distilling, anticorrosive or anti-oxidis..."
167,38249951,Antiespumantes contendo fosfato de tributila e...,Antiespumantes que contienen fosfato de tribut...,Defoamers containing tributyl phosphate in iso...
168,38249952,Misturas de polietilenoglicóis,Las mezclas de polietilenglicol,Mixtures of polyethylene glycol
169,38249953,Polipropilenoglicol líquido,Polietilenglicol líquido,Polyethylene glycol liquid
379,38249954,Retardante de chama contendo misturas de trife...,Retardante de llama que contiene mezclas de tr...,Flame retardant containing mixtures of triphen...
380,38249959,Misturas e preparações contendo ésteres de áci...,Las mezclas y preparados que contienen ésteres...,Mixtures and preparations containing esters of...
381,38249971,Cal sodada; carbonato de cálcio hidrófugo,Cal sodada; carbonato de calcio resistente al ...,Sodium lime; hydrofuge calcium carbonate
382,38249972,Preparações à base de sílica em suspensão colo...,Preparaciones a base de sílice en suspensión c...,Preparations based on silica in colloidal susp...
383,38249973,Preparações à base de carbeto de tungstênio (v...,Preparaciones a base de carburo de tungsteno (...,Preparations based on tungsten carbide (wolfra...
384,38249974,Preparações à base de hidróxido de níquel ou d...,"Preparaciones a base de hidróxido de cadmio, ó...",Preparations based on nickel or cadmium hydrox...
385,38249975,Preparações utilizadas na elaboração de meios ...,Preparaciones utilizadas en la preparación de ...,Preparations used in the preparation of cultur...
...,...,...,...,...
6578,38249082,Halquinol; tetraclorohidroxiglicina de alumíni...,"Halquinol, mezclas de éteres dimetílicos de ác...","Halquinol, esters mixtures of dimethylic acids..."
6579,38249083,Triisocianato de tiofosfato de fenila ou de tr...,Triisocianato de tiofosfato fenilo/trifenilm.e...,Tiophosph.triisocianate phen./triphenylmet.in ...
6580,38249084,"Mistura de óxido de propileno, com teor de óxi...","Mezcla de óxido de propileno, c/cont.óxido eti...",Propylene oxide mixt.c/<= 30% b/weight of ethy...
6581,38249085,Metilato de sódio em metanol,Metilato de sodio en metanol,Sodium methylate in methanol
6582,38249086,Maneb; mancozeb; cloreto de benzalcônio,"Maneb, mancozeb y cloruro de benzalconio","Maneb, mancozeb and benzalkonium chloride"
6583,38249087,Dispersão aquosa de microcápsulas de poliureta...,Dispersión acuosa de microcápsulas de poliuret...,Aqueous dispers.of micro-capsules of polyureth...
6584,38249088,"Misturas de dialogenetos n, n-dialquilfósforoa...","Mezclas de dialogenuros n, n-dihalquilfosforoa...","Mixtures of dihalogenated n, n-dialkyl phospho..."
6585,38249089,Outros produtos e preparações à base de compos...,Los dem.prods.y prepars.a base de compuestos o...,Other produc./preparat. based on organic compo...
6586,38249090,Outros produtos e preparações das indústrias q...,Los dem.prods.y prepars.de inds.químs/inds.con...,Other produc./preparat.of chemical ind./allied...
6628,31010000,Adubos (fertilizantes) de origem animal ou veg...,"Abonos de origen animal/vegetal, etc.","Fertilisers obtained animal/vegetable, etc"
6741,31059011,"Nitrato de sódio potássico, com teor de nitrog...","Nitrato de sodio potásico, tenor de n<=15% y k...","Nitrate of sodium potassic, cont.n<=15% and k2..."
6742,31059019,Outros nitratos de sódio potássico,Los demás nitratos de sodio potásico,Other nitrate of sodium potassic
6743,31059090,Outros adubos/fertilizantes minerais químicos ...,Los dem.abonos/fertil.miner.quím.c/nitrógeno y...,Other fertilisers min./chem.c/nitrogen and pot...
6878,38249022,Preparações contendo estearoilbenzoilmetano e ...,Preparacs.que contengan ácidos grasos dimerizados,Preparations containing dimerized fatty acids
6879,38249023,Preparações contendo triglicerídios dos ácidos...,"Prepars.c/estearoilbenzoilmetano, palmitoilben...",Prepar./stearoylbenzoylmethane/ palmitoylbenzo...
6880,38249024,Ésteres de álcoois graxos de C12 a C20 do ácid...,Prepars.q cont.caprilato y caprato de propilen...,Prep.c/propylene glycol caprylate/propylene gl...
6881,38249025,Misturas de ésteres dimetílicos dos ácidos adí...,Prepars.c/triglicéridos de ácidos caprílico y ...,Preparations c/caprylic and capric acid trigly...
6882,38249026,Ésteres de alcoóis graxos de c12/c20 do ácido ...,Ésteres de alcoh.grasos de c12/c20 de ác.metac...,Esters of fatty alcohols c12/c20 with methacry...
6883,38249027,Ésteres de ácidos monocarboxílicos de c10 rami...,Ésteres de ácidos monocarboxíl.de c10 ramifs.c...,Esters of c10 monocarboxylic acids w/glycerol ...
6884,38249028,Misturas de ésteres dimetílicos dos acidos adí...,Mezclas de ésteres dimetílicos de ácidos adípi...,"Mixtures of dimethyl esters of adipic acid, etc"
6885,38249029,"Outros derivados de ácidos graxos industriais,...","Los dem.derivados de ácid.grasos industriales,...","Oth.derivatives of industrial fatty acids, pre..."
6886,38249031,Preparações que contenham isocianatos de hexam...,Preparaciones que contengan isocianatos de hex...,Preparations containing hexamethylene isocyanates
6887,38249032,Preparações que contenham aminas graxas de C8 ...,Preparaciones que contengan otros isocianatos,Preparations containing other isocyanates
6888,38249033,Preparações que contenham polietilenoaminas e ...,Preparaciones que contengan aminas grasas de c...,Preparations containing fatty amines c8 to c22
6889,38249034,Outras preparações que contenham polietilenoam...,"Prepars.c/polietilenaminas, etc.p/coagulación ...","Prepar.cont.polyethylene amines, etc.forcoagul..."
6890,38249035,"Misturas de mono-, di- e triisopropanolaminas",Las dem.preparaciones que contengan polietilen...,Other preparations containing polyethylamines
6891,38249036,Reticulantes para silicones,"Mezclas de mono-, di- y triisopropanolaminas","Mixtures of mono-, di- and triisopropanolamines"
6892,38249037,Reticulantes para silicones,Reticulantes para siliconas,Reticulants for silicons
6893,38249039,Outras misturas e preparações para borracha ou...,"Las dem.prepar.p/caucho/plásticos, p/endurec.r...","Oth.prepar.forrubber/plastic, forresin hardene..."
11150,84324000,Espalhadores de estrume e distribuidores de ad...,Esparcidores de estiércol/distribuidores de ab...,Manure spreaders/fertiliser distributors

In [34]:
NCM[['CO_NCM', 'NO_NCM_POR', 'NO_NCM_ESP', 'NO_NCM_ING']][NCM['CO_SH6'].isin(['120100', '120110', '120190'])]

,CO_NCM,NO_NCM_POR,NO_NCM_ESP,NO_NCM_ING
1937,12010010,Soja para semeadura,Soja para siembra,Soybean for sowing
1938,12010090,"Outros grãos de soja, mesmo triturados","Otros granos de soja, incluso quebrantados","Other soybeans, even crushed"
1939,12011000,"Soja, mesmo triturada, para semeadura","Soja, incluso quebrantadas, para siembra","Soybeans, whether or not crushed, for sowing"
1940,12019000,"Soja, mesmo triturada, exceto para semeadura","Soja, incluso quebrantadas, excepto para siembra","Soybeans, whether or not crushed, except for s..."

In [35]:
ncm = NCM['CO_NCM'][NCM['CO_SH6'].isin(['120100', '120110', '120190'])].values
ncm = ncm.astype(object)
ncm

ncm1 = NCM['CO_NCM'][NCM['CO_SH6'].isin(['310100', '310290', '310390', '310490', '310510', '310520', '310551', '310559', '310560', '310590', '382490', '382499', '843240', '843242'])].values
ncm1 = ncm1.astype(object)
ncm1

array([38249914, 38249915, 38249919, 38249921, 38249922, 38249923,
       38249924, 38249925, 38249929, 38249931, 38249932, 38249933,
       38249934, 38249935, 38249936, 38249939, 38249941, 38249942,
       38249943, 38249949, 38249951, 38249952, 38249953, 38249954,
       38249959, 38249971, 38249972, 38249973, 38249974, 38249975,
       38249976, 38249977, 38249978, 38249979, 38249981, 38249982,
       38249983, 38249985, 38249911, 38249912, 38249913, 84324200,
       38249986, 38249987, 38249988, 38249989, 31029000, 31039011,
       38249041, 38249042, 38249043, 38249049, 38249051, 38249052,
       38249053, 38249054, 38249059, 38249061, 38249062, 38249063,
       38249071, 38249072, 38249073, 31039019, 31039090, 31049010,
       31049090, 31051000, 31052000, 31055100, 31055900, 31056000,
       38249011, 38249012, 38249013, 38249014, 38249015, 38249019,
       38249021, 38249074, 38249075, 38249076, 38249077, 38249078,
       38249079, 38249081, 38249082, 38249083, 38249084, 38249085,
       38249086, 38249087, 38249088, 38249089, 38249090, 31010000,
       31059011, 31059019, 31059090, 38249022, 38249023, 38249024,
       38249025, 38249026, 38249027, 38249028, 38249029, 38249031,
       38249032, 38249033, 38249034, 38249035, 38249036, 38249037,
       38249039, 84324000], dtype=object)

In [36]:
NCM_CGCE.head()

,CO_CGCE_N3,NO_CGCE_N3,NO_CGCE_N3_ING,NO_CGCE_N3_ESP,CO_CGCE_N2,NO_CGCE_N2,NO_CGCE_N2_ING,NO_CGCE_N2_ESP,CO_CGCE_N1,NO_CGCE_N1,NO_CGCE_N1_ING,NO_CGCE_N1_ESP
0,110,Bens de capital (exceto equipamentos de transp...,"Capital goods, except industrial transport equ...","Bienes de capital, excepto equipo de transport...",11,"Bens de capital, exceto equipamentos de transp...","Capital goods, except industrial transport equ...","Bienes de capital, excepto equipo de transport...",1,BENS DE CAPITAL (BK),CAPITAL GOODS (BK),BIENES DE CAPITAL (BK)
1,120,Equipamentos de transporte industrial,Equipment for industrial transportation,Equipos de transporte industrial,12,Equipamentos de transporte industrial,Equipment for industrial transportation,Equipos de transporte industrial,1,BENS DE CAPITAL (BK),CAPITAL GOODS (BK),BIENES DE CAPITAL (BK)
2,210,"Alimentos e bebidas básicos, destinados princi...","Basic food and beverages, mainly for industry","Alimentos y bebidas básicos, principalmente pa...",21,"Alimentos e bebidas básicos, destinados princi...","Basic food and beverages, mainly for industry","Alimentos y bebidas básicos, principalmente pa...",2,BENS INTERMEDIÁRIOS (BI),INTERMEDIATE GOODS (BI),BIENES INTERMEDIOS (BI)
3,220,"Alimentos e bebidas elaborados, destinados pri...","Elaborated food and beverages, mainly for indu...","Alimentos y bebidas preparados, principalmente...",22,"Alimentos e bebidas elaborados, destinados pri...","Elaborated food and beverages, mainly for indu...","Alimentos y bebidas preparados, principalmente...",2,BENS INTERMEDIÁRIOS (BI),INTERMEDIATE GOODS (BI),BIENES INTERMEDIOS (BI)
4,230,Insumos industriais básicos,Basic industrial inputs,Insumos industriales básicos,23,Insumos industriais básicos,Basic industrial inputs,Insumos industriales básicos,2,BENS INTERMEDIÁRIOS (BI),INTERMEDIATE GOODS (BI),BIENES INTERMEDIOS (BI)

In [37]:
NCM_CUCI[NCM_CUCI['CO_CUCI_ITEM'].isin(['2222'])].head()

,CO_CUCI_ITEM,NO_CUCI_ITEM,NO_CUCI_ITEM_ING,CO_CUCI_SUB,NO_CUCI_SUB,NO_CUCI_SUB_ING,CO_CUCI_POS,NO_CUCI_POS,NO_CUCI_POS_ING,CO_CUCI_CAP,NO_CUCI_CAP,NO_CUCI_CAP_ING,CO_CUCI_SEC,NO_CUCI_SEC,NO_CUCI_SEC_ING
371,2222,Soja,"Milk & cream, concentrated/sweetened, in solid...",2222,Soja,Soya beans,222,"Sementes e frutos oleaginosos, dos tipos utili...",Oil-seeds and oleaginous fruits of a kind used...,22,Sementes e frutos oleaginosos,Oil-seeds and oleaginous fruits,2,"MATERIAS EM BRUTO, NAO COMESTIVEIS, EXCETO COM...","CRUDE MATERIALS, INEDIBLE, EXCEPT FUELS"

In [38]:
NCM_FAT_AGREG.head()

   CO_FAT_AGREG                NO_FAT_AGREG            NO_FAT_AGREG_GP
0             1            PRODUTOS BASICOS           PRODUTOS BASICOS
1             2  PRODUTOS SEMIMANUFATURADOS  PRODUTOS INDUSTRIALIZADOS
2             3      PRODUTOS MANUFATURADOS  PRODUTOS INDUSTRIALIZADOS
3             4        TRANSACOES ESPECIAIS        OPERACOES ESPECIAIS
4             5            CONSUMO DE BORDO        OPERACOES ESPECIAIS

In [39]:
NCM_ISIC[NCM_ISIC['CO_ISIC4'].isin(['01'])].head()

,CO_ISIC4,NO_ISIC4,CO_ISIC4_GRUPO,NO_ISIC4_GRUPO,CO_ISIC4_SECAO,NO_ISIC4_SECAO
0,01,AGRICULTURA E PECUÁRIA,01A03,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES..."

In [40]:
NCM_PPE.head()

,CO_PPE,NO_PPE,NO_PPE_MIN,NO_PPE_ING
0,1011,ABACAXIS FRESCOS OU SECOS,Abacaxis frescos ou secos,"PINEAPPLES, FRESH OR DRIED"
1,1041,"ARROZ EM GRAOS, INCLUSIVE ARROZ QUEBRADO","Arroz em grãos, inclusive arroz quebrado","RICE IN GRAIN, INCLUDING BROKEN RICE"
2,1051,ALGODAO EM BRUTO,Algodão em bruto,RAW COTTON
3,1052,AMENDOIM EM GRAO,Amendoim em grão,"PEANUTS, IN GRAIN"
4,1055,AMIANTO,Amianto,ASBESTOS

In [41]:
#NCM_SH = pd.read_csv('NCM.csv', delimiter = ';', encoding = 'latin-1')
NCM_SH.head()

,CO_SH6,NO_SH6_POR,NO_SH6_ESP,NO_SH6_ING,CO_SH4,NO_SH4_POR,NO_SH4_ESP,NO_SH4_ING,CO_SH2,NO_SH2_POR,NO_SH2_ESP,NO_SH2_ING,CO_NCM_SECROM,NO_SEC_POR,NO_SEC_ESP,NO_SEC_ING
0,10110,"Animais vivos das espécies cavalar, asinina e ...","Caballos y asnos, reproductores de raza pura",Pure-bred breeding horses and asses,101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products
1,10111,"Cavalos reprodutores, de raça pura",Caballos reproductores de raza pura,Pure-bred breeding horses,101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products
2,10119,"Outros cavalos, vivos","Demás caballos, vivos",Other live horses,101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products
3,10120,Asininos e muares vivos,"Asnos, mulos y burdéganos, vivos","Asses, mules and hinnies (live)",101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products
4,10121,Cavalos reprodutores de raça pura,Caballos de raza selecta para reproducción,Pure-bred breeding horses,101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products

In [42]:
NCM_SIIT[NCM_SIIT['CO_SIIT'] == 9000].head()

   CO_SIIT           NO_SIIT
4     9000  PRODUTOS N.C.I.T

In [43]:
NCM_UNIDADE[NCM_UNIDADE['CO_UNID'].isin([10, 21])].head()

    CO_UNID                   NO_UNID SG_UNID
0        10        QUILOGRAMA LIQUIDO   KGL
11       21  TONELADA METRICA LIQUIDA   TML

In [44]:
NCM_UNIDADE1 = NCM_UNIDADE[['CO_UNID', 'NO_UNID', 'SG_UNID']][NCM_UNIDADE['CO_UNID'].isin([10, 21])]
NCM_UNIDADE1
NCM_UNIDADE2 = NCM_UNIDADE[['CO_UNID', 'NO_UNID', 'SG_UNID']][NCM_UNIDADE['CO_UNID'].isin([10, 11])]
NCM_UNIDADE2

   CO_UNID             NO_UNID SG_UNID
0       10  QUILOGRAMA LIQUIDO   KGL
1       11    NUMERO (UNIDADE)   UNID.

In [45]:
ncm_unidade = NCM_UNIDADE['CO_UNID'][NCM_UNIDADE['CO_UNID'].isin([10, 21])].values
ncm_unidade = ncm_unidade.astype(object)
ncm_unidade

array([10, 21], dtype=object)

In [46]:
UF[UF['SG_UF'].isin(['MT'])]

    CO_UF SG_UF        NO_UF            NO_REGIAO
23     52    MT  Mato Grosso  REGIAO CENTRO OESTE

In [47]:
UF_MUN[UF_MUN['CO_MUN_GEO'].isin((5107925, 5107602, 5106224, 5105259, 5107875, 5107040))]

      CO_MUN_GEO              NO_MUN          NO_MUN_MIN SG_UF
4396     5105259  LUCAS DO RIO VERDE  Lucas do Rio Verde    MT
4411     5106224          NOVA MUTUM          Nova Mutum    MT
5446     5107040  PRIMAVERA DO LESTE  Primavera do Leste    MT
5460     5107602        RONDONOPOLIS        Rondonópolis    MT
5469     5107875             SAPEZAL             Sapezal    MT
5472     5107925             SORRISO             Sorriso    MT

In [48]:
URF[URF['CO_URF'].isin((817800, 917600, 917800))]

     CO_URF                        NO_URF
84   917600  0917600 - PORTO DE PARANAGUA
217  817800     0817800 - PORTO DE SANTOS
228  917800  0917800 - PORTO DE PARANAGUA

In [49]:
URF1 = URF[URF['CO_URF'].isin((817800, 917600, 917800))]
URF1

     CO_URF                        NO_URF
84   917600  0917600 - PORTO DE PARANAGUA
217  817800     0817800 - PORTO DE SANTOS
228  917800  0917800 - PORTO DE PARANAGUA

In [50]:
urf = URF['CO_URF'][URF['CO_URF'].isin((817800, 917600, 917800))].values
urf = urf.astype(object)
urf

array([917600, 817800, 917800], dtype=object)

In [51]:
VIA[VIA['CO_VIA'].isin((1, 99))]

   CO_VIA            NO_VIA
1      99  VIA DESCONHECIDA
3       1          MARITIMA

In [52]:
VIA1 = VIA[VIA['CO_VIA'].isin((1, 99))]

In [23]:
os.chdir('' + diretorio + '/bases/info/')
arquivos_info = os.listdir('' + diretorio + '/bases/info/')
num_arquivos_info = len(arquivos_info)

info = {}

for x in range(0, num_arquivos_info):

    info['' + arquivos_info[x].replace('.csv', '') + ''] = pd.read_csv(arquivos_info[x], delimiter=';', encoding='latin-1')

In [24]:
arquivos_info

['EXP_2018.csv', 'EXP_COMPLETA.csv', 'IMP_2018.csv', 'IMP_COMPLETA.csv']

info['' + arquivos_info[x].replace('.csv', '') + ''] = pd.read_csv(arquivos_info[x], delimiter=';', encoding='latin-1')

info['' + arquivos_info[x].replace('.csv', '') + ''] = pd.read_csv(arquivos_info[x], delimiter=';', encoding='latin-1')

In [25]:
info.keys()

dict_keys(['EXP_2018', 'EXP_COMPLETA', 'IMP_2018', 'IMP_COMPLETA'])

In [27]:
len(info) == len(arquivos_info)

True

In [28]:
locals().update(info)

In [29]:
IMP_2018.head()

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB
0,2018,1,29156019,10,249,SP,4,817700,7,7,648
1,2018,1,84672999,11,355,PR,1,917800,125,477,15271
2,2018,1,87088000,11,23,PR,1,917800,9635,58559,325968
3,2018,1,85444200,10,386,SP,1,817800,1845,1845,51272
4,2018,1,84833090,11,249,PR,4,917900,16,4,205

In [30]:
IMP_2018_URF = IMP_2018[IMP_2018['CO_URF'].isin((urf))]
IMP_2018_URF.head()

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB
1,2018,1,84672999,11,355,PR,1,917800,125,477,15271
2,2018,1,87088000,11,23,PR,1,917800,9635,58559,325968
3,2018,1,85444200,10,386,SP,1,817800,1845,1845,51272
13,2018,9,25120000,10,493,PR,1,917800,70075,70075,65823
18,2018,12,85333910,11,160,SP,1,817800,100003,701,9349

In [53]:
#IMP_2018_FILT = IMP_2018[IMP_2018['CO_UNID'].isin((ncm_unidade)) & IMP_2018['CO_NCM'].isin((ncm)) & IMP_2018['CO_URF'].isin((urf))]

#IMP_2018_FILT = IMP_2018[IMP_2018['CO_UNID'].isin((ncm_unidade)) & IMP_2018['CO_NCM'].isin((ncm))]

IMP_2018_FILT = IMP_2018[IMP_2018['SG_UF_NCM'].isin(['MT'])]

IMP_2018_FILT.head()

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB
482,2018,1,84835010,11,160,MT,1,917800,13,73,186
760,2018,1,82090019,10,160,MT,1,917800,1156,1156,19597
2737,2018,10,84099116,11,160,MT,1,917800,65,36,17
2797,2018,9,38089329,10,160,MT,1,817800,57600,57600,526433
3148,2018,5,84122900,11,249,MT,1,817800,14,139,10052

In [54]:
IMP_2018_FILT = IMP_2018[IMP_2018['CO_NCM'].isin((ncm1)) & IMP_2018['SG_UF_NCM'].isin(['MT']) & IMP_2018['CO_URF'].isin((urf))]

IMP_2018_FILT.head()

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB
25637,2018,10,31055900,10,160,MT,1,917800,8999859,8999859,3067034
28715,2018,3,31055900,10,249,MT,1,817800,29589297,29589297,10957787
75833,2018,6,31055900,10,249,MT,1,917800,11000000,11000000,4192830
111406,2018,11,31059090,10,603,MT,1,917800,23000,23000,92840
113850,2018,8,31059090,10,573,MT,1,917800,48000,48000,57361

In [55]:
IMP_2018_FILT1 = IMP_2018_FILT
IMP_2018_FILT1 = IMP_2018_FILT1.merge(NCM2, how='left', left_on=['CO_NCM'], right_on=['CO_NCM'])
IMP_2018_FILT1 = IMP_2018_FILT1.merge(NCM_UNIDADE2, how='left', left_on=['CO_UNID'], right_on=['CO_UNID'])
IMP_2018_FILT1 = IMP_2018_FILT1.merge(VIA1, how='left', left_on=['CO_VIA'], right_on=['CO_VIA'])
IMP_2018_FILT1 = IMP_2018_FILT1.merge(URF1, how='left', left_on=['CO_URF'], right_on=['CO_URF'])

In [58]:
IMP_2018_FILT1.head()

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB,NO_NCM_POR,NO_NCM_ESP,NO_NCM_ING,NO_UNID,SG_UNID,NO_VIA,NO_URF
0,2018,10,31055900,10,160,MT,1,917800,8999859,8999859,3067034,"Outros adubos/fertilizantes minerais químicos,...",Los dem.abonos/fertil.miner.quím.c/nitrógeno y...,Other fertilisers cont.mineral/chemical c/nitr...,QUILOGRAMA LIQUIDO,KGL,MARITIMA,0917800 - PORTO DE PARANAGUA
1,2018,3,31055900,10,249,MT,1,817800,29589297,29589297,10957787,"Outros adubos/fertilizantes minerais químicos,...",Los dem.abonos/fertil.miner.quím.c/nitrógeno y...,Other fertilisers cont.mineral/chemical c/nitr...,QUILOGRAMA LIQUIDO,KGL,MARITIMA,0817800 - PORTO DE SANTOS
2,2018,6,31055900,10,249,MT,1,917800,11000000,11000000,4192830,"Outros adubos/fertilizantes minerais químicos,...",Los dem.abonos/fertil.miner.quím.c/nitrógeno y...,Other fertilisers cont.mineral/chemical c/nitr...,QUILOGRAMA LIQUIDO,KGL,MARITIMA,0917800 - PORTO DE PARANAGUA
3,2018,11,31059090,10,603,MT,1,917800,23000,23000,92840,Outros adubos/fertilizantes minerais químicos ...,Los dem.abonos/fertil.miner.quím.c/nitrógeno y...,Other fertilisers min./chem.c/nitrogen and pot...,QUILOGRAMA LIQUIDO,KGL,MARITIMA,0917800 - PORTO DE PARANAGUA
4,2018,8,31059090,10,573,MT,1,917800,48000,48000,57361,Outros adubos/fertilizantes minerais químicos ...,Los dem.abonos/fertil.miner.quím.c/nitrógeno y...,Other fertilisers min./chem.c/nitrogen and pot...,QUILOGRAMA LIQUIDO,KGL,MARITIMA,0917800 - PORTO DE PARANAGUA

In [59]:
IMP_2018_FILT1.to_csv('' + diretorio + '/IMP_2018_FILT_DESC.csv', sep = ';', encoding = 'latin-1', decimal = ',', index = False)

In [ ]:
EXP_2018_FILT = EXP_2018[EXP_2018['SG_UF_NCM'].isin(['MT'])]

EXP_2018_FILT.head()

In [32]:
EXP_2018.head()

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB
0,2018,11,40169300,10,275,RJ,99,717700,0,0,5
1,2018,2,4089900,10,399,SP,99,817600,5,5,10
2,2018,11,94032000,11,845,SC,99,1017701,12,238,485
3,2018,3,87089481,11,169,SP,4,817700,4,11,208
4,2018,9,40093210,10,198,SP,99,817600,26,26,602

In [33]:
#EXP_2018_FILT = EXP_2018[EXP_2018['CO_NCM'].isin((ncm)) & EXP_2018['CO_UNID'].isin((ncm_unidade)) & EXP_2018['SG_UF_NCM'].isin(['MT']) & EXP_2018['CO_URF'].isin((urf))]
EXP_2018_FILT = EXP_2018[EXP_2018['CO_NCM'].isin((ncm)) & EXP_2018['SG_UF_NCM'].isin(['MT']) & EXP_2018['CO_URF'].isin((urf))]

EXP_2018_FILT.head()

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB
887,2018,4,12019000,21,858,MT,1,817800,7507251,14750950,5910243
10208,2018,4,12019000,21,160,MT,1,817800,146202314,715583542,284391568
16458,2018,9,12019000,21,160,MT,99,817800,31676,31675949,11891415
26087,2018,6,12019000,21,455,MT,1,817800,4340,4340000,1754230
26539,2018,4,12019000,21,576,MT,1,917800,101,101227,43239

In [34]:
EXP_2018_FILT.to_csv('' + diretorio + '/EXP_2018_FILT.csv', sep = ';', encoding = 'latin-1', decimal = ',', index = False)

In [62]:
EXP_2018_FILT1 = EXP_2018_FILT

In [63]:
EXP_2018_FILT1 = EXP_2018_FILT1.merge(NCM1, how='left', left_on=['CO_NCM'], right_on=['CO_NCM'])

In [64]:
EXP_2018_FILT1 = EXP_2018_FILT1.merge(NCM_UNIDADE1, how='left', left_on=['CO_UNID'], right_on=['CO_UNID'])

In [65]:
EXP_2018_FILT1 = EXP_2018_FILT1.merge(VIA1, how='left', left_on=['CO_VIA'], right_on=['CO_VIA'])

In [66]:
EXP_2018_FILT1 = EXP_2018_FILT1.merge(URF1, how='left', left_on=['CO_URF'], right_on=['CO_URF'])

In [67]:
EXP_2018_FILT1.head()

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB,NO_NCM_POR,NO_NCM_ESP,NO_NCM_ING,NO_UNID,SG_UNID,NO_VIA,NO_URF
0,2018,4,12019000,21,858,MT,1,817800,7507251,14750950,5910243,"Soja, mesmo triturada, exceto para semeadura","Soja, incluso quebrantadas, excepto para siembra","Soybeans, whether or not crushed, except for s...",TONELADA METRICA LIQUIDA,TML,MARITIMA,0817800 - PORTO DE SANTOS
1,2018,4,12019000,21,160,MT,1,817800,146202314,715583542,284391568,"Soja, mesmo triturada, exceto para semeadura","Soja, incluso quebrantadas, excepto para siembra","Soybeans, whether or not crushed, except for s...",TONELADA METRICA LIQUIDA,TML,MARITIMA,0817800 - PORTO DE SANTOS
2,2018,9,12019000,21,160,MT,99,817800,31676,31675949,11891415,"Soja, mesmo triturada, exceto para semeadura","Soja, incluso quebrantadas, excepto para siembra","Soybeans, whether or not crushed, except for s...",TONELADA METRICA LIQUIDA,TML,VIA DESCONHECIDA,0817800 - PORTO DE SANTOS
3,2018,6,12019000,21,455,MT,1,817800,4340,4340000,1754230,"Soja, mesmo triturada, exceto para semeadura","Soja, incluso quebrantadas, excepto para siembra","Soybeans, whether or not crushed, except for s...",TONELADA METRICA LIQUIDA,TML,MARITIMA,0817800 - PORTO DE SANTOS
4,2018,4,12019000,21,576,MT,1,917800,101,101227,43239,"Soja, mesmo triturada, exceto para semeadura","Soja, incluso quebrantadas, excepto para siembra","Soybeans, whether or not crushed, except for s...",TONELADA METRICA LIQUIDA,TML,MARITIMA,0917800 - PORTO DE PARANAGUA

In [68]:
EXP_2018_FILT1.to_csv('' + diretorio + '/EXP_2018_FILT_DESC.csv', sep = ';', encoding = 'latin-1', decimal = ',', index = False)

In [84]:
EXP_COMPLETA.head()

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB
0,1997,3,41043911,15,149,RS,1,1010500,3987,4150,16725
1,1997,5,63019000,10,97,MG,7,145200,0,1002,8420
2,1997,6,87168000,11,586,RS,7,145300,48,153,915
3,1997,8,39162000,10,249,SP,1,817800,0,138,586
4,1997,2,73130000,10,63,SP,7,1010900,0,2714,1972

In [87]:
EXP_COMPLETA_FILT = EXP_COMPLETA[EXP_COMPLETA['CO_NCM'].isin((ncm)) & EXP_COMPLETA['SG_UF_NCM'].isin(['MT']) & EXP_COMPLETA['CO_URF'].isin((urf))]

EXP_COMPLETA_FILT.head()

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB
21527,1997,4,12010090,21,245,MT,1,817800,8339,8338680,2584991
32356,1997,7,12010090,21,399,MT,1,817800,1251,1251000,399920
46801,1997,4,12010090,21,23,MT,1,817800,11550,11550000,3285314
67054,1997,5,12010090,21,573,MT,1,817800,2174,2174000,684723
136252,1997,8,12010090,21,23,MT,1,817800,6300,6300000,1856400

In [88]:
len(EXP_COMPLETA_FILT)

1702

In [89]:
EXP_COMPLETA_FILT.to_csv('' + diretorio + '/EXP_COMPLETA_FILT.csv', sep = ';', encoding = 'latin-1', decimal = ',', index = False)

In [90]:
EXP_COMPLETA_FILT1 = EXP_COMPLETA_FILT
EXP_COMPLETA_FILT1 = EXP_COMPLETA_FILT1.merge(NCM1, how='left', left_on=['CO_NCM'], right_on=['CO_NCM'])
EXP_COMPLETA_FILT1 = EXP_COMPLETA_FILT1.merge(NCM_UNIDADE1, how='left', left_on=['CO_UNID'], right_on=['CO_UNID'])
EXP_COMPLETA_FILT1 = EXP_COMPLETA_FILT1.merge(VIA1, how='left', left_on=['CO_VIA'], right_on=['CO_VIA'])
EXP_COMPLETA_FILT1 = EXP_COMPLETA_FILT1.merge(URF1, how='left', left_on=['CO_URF'], right_on=['CO_URF'])

In [91]:
EXP_COMPLETA_FILT1.to_csv('' + diretorio + '/EXP_COMPLETA_FILT_DESC.csv', sep = ';', encoding = 'latin-1', decimal = ',', index = False)